PORT=3001
CLIENT_URL=http://localhost12345:5173
SESSION_SECRET=change-me-in-production

# Steam Web API Key: https://steamcommunity.com/dev/apikey
# Domain Name при регистрации: localhost12345
STEAM_API_KEY=78CCD63972858C9CF579BDC0E22DAD3C

STEAM_REALM=http://localhost12345:5173
STEAM_RETURN_URL=http://localhost12345:5173/api/auth/steam/callback

ADMIN_STEAM_IDS=76561198339636314
